@config "../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
https://docs.google.com/document/d/1qjP9aDGBQTvho5EwO4jhCTvYxUywdnRigwKZU9wRw4Y/edit#
Saffron	Night	Anti-flash White	Zaffre	Oxford Blue
 #EEC643	#141414	#EEF0F2	#0D21A1	#011638 */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: linear-gradient(to bottom, #00245e, #011638);
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.text-shadow-px {
  text-shadow: 0.5px 1px 0px #14141480;
}

.text-shadow-white {
  text-shadow: 0.5px 1px 0px #ffffff80;
}